*{
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
div{
	width: 250px;
	height: 250px;
	display: inline-block;
	margin: 50px;
}
.compass{
	cursor: pointer;

	-webkit-animation: animationFrames 2s linear 0s infinite normal ;
  animation: animationFrames 2s linear 0s infinite normal ;
}
.compass:hover{
	animation-play-state: paused;
}
.compass:hover .center{
	fill: hsla(0, 67%, 74%, 0.582);
}
.compass:hover .border{
	fill: rgba(90, 76, 76, 0.884);
}
.center{
	fill: white;
}
.border{
	fill: grey;
}
.red{
	fill: red;
}
.blue{
	fill: blue;
}

@keyframes animationFrames{
  0% {
    transform: rotate(0deg) ;
  }
  100% {
    transform: rotate(360deg) ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    transform: rotate(0deg) ;
  }
  100% {
    transform: rotate(360deg) ;
  }
}
/* ---------------------webpack----------- */
.webpack{
	cursor: pointer;
}
.webpack:hover .border-webpack{
	animation-play-state: paused;
}
.border-webpack{
	fill: #8ed6fb;
	transform-origin: 50% 50%;

	-webkit-animation: webpackAnimation 4s linear 0s infinite normal ;
  animation: webpackAnimation 4s linear 0s infinite normal ;
}
.center-webpack{
	fill: #1c78c0"
}

@keyframes webpackAnimation{
  0% {
    transform: rotate(0deg) ;
  }
  100% {
    transform: rotate(360deg) ;
  }
}

@-moz-keyframes webpackAnimation{
  0% {
    transform: rotate(0deg) ;
  }
  100% {
    transform: rotate(360deg) ;
  }
}
/* ------js ----- */
.js{
	cursor: pointer;
	-webkit-animation: jsAnimation 3s linear 0s infinite normal ;
	animation: jsAnimation 3s linear 0s infinite normal ;
	transition: 0.4s all;
}
.js:hover .js-fon{
fill: #a0870d;
}
.js:hover .js-fon-s{
	fill: #d4aa01;
}
.js-fon{
	fill:#d4b830
}
.js-fon-s{
	fill: #fdd83c;
}
@keyframes jsAnimation{
  0% {
    transform: scale(1) ;
	}
	50% {
		transform: scale(0.7);
	}
  100% {
    transform: scale(1) ;
  }
}

@-moz-keyframes jsAnimation{
  0% {
    transform: scale(1) ;
	}
	50% {
		transform: scale(0.7);
	}
  100% {
    transform: scale(1) ;
  }
}

/* text */
.zhurick{
	display: flex;
}
.text-zhurik:hover{
	cursor: pointer;
	fill: red;
}